

<div id="incidentCard">
    <p id="Title">{{incident.Title}}</p>
    <p id="category">category: {{incident.category}}</p>
    <p id="postedDate">postedDate: {{incident.postedDate}}</p>
    <p id="description">description: {{incident.description}}</p>
    <p id="location">location: {{incident.location}}</p>
    <p id="verified">verified: {{incident.verified}}</p>
    <p id="status">status: {{incident.status}}</p>
    <p id="reportedBy">reportedBy: {{incident.reportedBy}}</p>
    <p id="comments">comments: {{incident.comments}}</p>


{{#if isOwner}}
    <a id="update_incidentLink" href="/incident_update/{{incident._id}}">Update incident</a>
    <form id="remove-form" name="remove-form" action="/incident_card/{{incident._id}}" method="POST" class="form">
        <label>
            remove button 
            <button type="submit" name="remove_button" id="remove_button">Remove Incident</button>
        </label>
    </form>
    {{/if}}

    {{#if admin}}
        <a id="verifyLink" href="/verify/{{incident._id}}">Verify</a>
        <a id="memberPageLink" href="/status/{{incident._id}}">Update Status</a>
        <form id="admin-remove-form" name="admin-remove-form" action="/incident_card/{{incident._id}}" method="POST" class="form">
        <label>
            remove button
            <button type="submit" name="remove_button" id="admin_remove_button">Remove Incident</button>
        </label>
    </form>
    {{/if}}

    <a id="incident_createlink" href="/incident_create">Click Here if you want to create an incident</a>
    <a id="homelink" href="/">Click Here if you want to return to the home page</a>
</div>